@import "tailwindcss";

/* Base dark theme */
body {
  font-smooth: antialiased;
}

/* Hide scrollbars utility while preserving scroll */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;            /* Chrome, Safari, Opera */
}